.search_box{
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    background: #2196f3;
    border-bottom: 1px solid #ddd;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}
.search_box .el-input{
    width: 100%;
    max-width: 1170px !important;
}
.search_box input{
    width: 100%;
    max-width: 1170px !important;
    border: none;
    outline: none;
    border-radius: 4px;
    margin: 0;
    color: #fff;
    padding-left: 50px;
    background: url(../../assets/images/search.png) 13px center no-repeat #42a6f5;
    background-size: 24px 24px;
    font-size: 16px;
}
.search_box input::-webkit-input-placeholder {
   color: #fff;
   font-size: 16px;
}